.navbar-brand {
  background: url(/assets/images/logo.png) center / contain no-repeat;
  width: 150px;
  height: 60px;
}

.navbar-default {
  background-color: #1c1c1c;
}

div.event {
  font-size: 1.3em;
  color: #C2C4C4;
}

h4.event {
  color: #C2C4C4;
}